### Библиотеки / данные

импортируем библиотеки numpy и pandas

In [2]:
import numpy as np
import pandas as pd

импортируем библиотеку datetime для работы с датами

In [3]:
from datetime import datetime

Задаем некоторые опции библиотеки pandas, которые настраивают вывод

In [4]:
pd.options.display.max_rows = 10

- считываем данные
- используем столбец Symbol в качестве индекса 
- считываем только столбцы ['Symbol', 'Sector', 'Price', 'Book Value']

| Column Name        | Description
| ------------- |:-------------:|
|Symbol|Сокращенное название организации|
|Name|Полное название организации|
|Sector|Сектор экономики|
|Price|Стоимость акции|
|Dividend Yield|Дивидендная доходность|
|Price/Earnings|Цена / прибыль|
|Earnings/Share|Прибыль на акцию|
|Book Value|Балансовая стоимость компании|
|52 week low|52-недельный минимум|
|52 week high|52-недельный максимум|
|Market Cap|Рыночная капитализация|
|EBITDA|**E**arnings **b**efore **i**nterest, **t**axes, **d**epreciation and **a**mortization|
|Price/Sales|Цена / объём продаж|
|Price/Book|Цена / балансовая стоимость|
|SEC Filings|Ссылка *sec.gov*|

In [8]:
sp500 = pd.read_csv("../data/sp500.csv",
                    index_col='Symbol',
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

создаем датафрейм с 5 строками и 3 столбцами

In [9]:
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), 
                  index=['a', 'b', 'c', 'd', 'e'], 
                  columns=['c1', 'c2', 'c3'])
df

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

- добавляем несколько столбцов и строк в датафрейм столбец c4 со значениями NaN
- строка 'f' со значениями от 15 до 18 
- строка 'g', состоящая из значений NaN
- столбец 'c5', состоящий из значений NaN
- меняем значение в столбце 'c4' строки 'a'

In [10]:
df['c4'] = np.nan
df.loc['f'] = np.arange(15, 19) 
df.loc['g'] = np.nan
df['c5'] = np.nan
df['c4']['a'] = 20
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

### Пропущенные значения

#### поиск

какие элементы являются значениями NaN?

In [11]:
df.isnull()

      c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

какие элементы являются непропущенными значениями? (можем использовать ~df.isnull() )

In [12]:
df.notnull()

      c1     c2     c3     c4     c5
a   True   True   True   True  False
b   True   True   True  False  False
c   True   True   True  False  False
d   True   True   True  False  False
e   True   True   True  False  False
f   True   True   True   True  False
g  False  False  False  False  False

подсчитываем количество значений NaN в каждом столбце

In [13]:
df.isnull().sum(axis=0)

c1    1
c2    1
c3    1
c4    5
c5    7
dtype: int64

вычисляем количество значений, отличных от NaN, по каждому столбцу (можем использовать len(df) - df.isnull().sum())

In [14]:
df.count(axis=0)

c1    6
c2    6
c3    6
c4    2
c5    0
dtype: int64

#### удаление

In [15]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

отбираем непропущенные значения в столбце c4

In [16]:
df.c4[df.c4.notnull()]

a    20.0
f    18.0
Name: c4, dtype: float64

этот программный код извлекает в столбце c4 все значения, кроме значений NaN

In [17]:
df.c4.dropna()

a    20.0
f    18.0
Name: c4, dtype: float64

.dropna() возвращает копию с удаленными значениями исходный датафрейм/столбец не изменился

In [18]:
df.c4

a    20.0
b     NaN
c     NaN
d     NaN
e     NaN
f    18.0
g     NaN
Name: c4, dtype: float64

метод .dropna() при применении к датафрейму удаляет целиком строки, в которых есть по крайней мере одно значение NaN в данном случае будут удалены все строки

In [19]:
df.dropna()

Empty DataFrame
Columns: [c1, c2, c3, c4, c5]
Index: []

используя параметр how='all', удаляем лишь те строки, в которых все значения являются значениями NaN

In [20]:
df.dropna(how = 'all')

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN

In [21]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

меняем ось, чтобы удалить столбцы со значениями NaN вместо строк

In [22]:
df.dropna(how='all', axis=1) # удаляем c5

     c1    c2    c3    c4
a   0.0   1.0   2.0  20.0
b   3.0   4.0   5.0   NaN
c   6.0   7.0   8.0   NaN
d   9.0  10.0  11.0   NaN
e  12.0  13.0  14.0   NaN
f  15.0  16.0  17.0  18.0
g   NaN   NaN   NaN   NaN

- создаем копию датафрейма df
- заменяем две ячейки с пропусками значениями 0

In [23]:
df2 = df.copy()
df2.loc['g'].c1 = 0
df2.loc['g'].c3 = 0
df2

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   0.0   NaN   0.0   NaN NaN

а сейчас удаляем столбцы, в которых есть хотя бы одно значение NaN

In [24]:
df2.dropna(how='any', axis=1)

     c1    c3
a   0.0   2.0
b   3.0   5.0
c   6.0   8.0
d   9.0  11.0
e  12.0  14.0
f  15.0  17.0
g   0.0   0.0

удаляем лишь те столбцы, в которых по меньшей мере 3 значений не NaN

In [ ]:
df2

In [ ]:
df2.dropna(thresh=2, axis=1)

#### заполнение

##### константой

In [25]:
df

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

возвращаем новый датафрейм, в котором значения NaN заполнены константой - нулями

In [30]:
df['c5']= df.c5.fillna(0)
df

     c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  0.0
b   3.0   4.0   5.0   NaN  0.0
c   6.0   7.0   8.0   NaN  0.0
d   9.0  10.0  11.0   NaN  0.0
e  12.0  13.0  14.0   NaN  0.0
f  15.0  16.0  17.0  18.0  0.0
g   NaN   NaN   NaN   NaN  0.0

значения NaN не учитываются при вычислении средних значений

In [ ]:
df.mean()

после замены значений NaN на 0 получаем другие средние значения

In [ ]:
filled.mean()

##### прямое и обратное

заполнение в прямом порядке

In [ ]:
df.c4

In [ ]:
df.c4.fillna(method="ffill")

либо выполняем обратное заполнение

In [ ]:
df.c4.fillna(method="bfill")

##### с помощью индексов

новая серия для примеров:

In [5]:
fill_values = pd.Series([100, 101, 102], index=['a', 'e', 'g'])
fill_values

a    100
e    101
g    102
dtype: int64

пример заполнения:

In [6]:
df.c4

NameError: name 'df' is not defined

In [ ]:
df.c4.fillna(fill_values)

заполняем значения NaN в каждом столбце средним значением этого столбца

In [ ]:
df.mean()

In [ ]:
df

In [ ]:
df.fillna(df.mean())

#### интерполяция пропущенных значений

выполняем линейную интерполяцию ( method = 'linear' по умолчанию) значений NaN с 1 по 2

In [ ]:
s = pd.Series([1, np.nan, np.nan, np.nan, 2])
s

In [ ]:
s.interpolate()

создаем временной ряд, но при этом значение по одной дате будет пропущено

In [ ]:
ts = pd.Series([1, np.nan, 2], 
            index=[datetime(2014, 1, 1), 
                   datetime(2014, 2, 1),                   
                   datetime(2014, 4, 1)])
ts

выполняем линейную интерполяцию на основе количества элементов в данной серии

In [ ]:
ts.interpolate()

этот программный код учитывает тот факт, что у нас отсутствует запись для 2014-03-01

In [ ]:
ts.interpolate(method="time")

создаем объект Series, чтобы продемонстрировать интерполяцию, основанную на индексных метках

In [ ]:
s = pd.Series([0, np.nan, 100], index=[0, 2, 10])
s

выполняем линейную интерполяцию

In [ ]:
s.interpolate()

выполняем интерполяцию на основе значений индекса

In [ ]:
s.interpolate(method="index")

### Повторяющиеся значения

создаем датафрейм с дублирующимися строками

In [ ]:
data = pd.DataFrame({'a': ['x'] * 3 + ['y'] * 4, 
                     'b': [1, 1, 2, 3, 3, 4, 4]})
data

определяем, какие строки являются дублирующимися, то есть какие строки уже ранее встречались в датафрейме

In [ ]:
data.duplicated()

удаляем дублирующиеся строки, каждый раз оставляя первое из дублирующихся наблюдений

In [ ]:
data.drop_duplicates()

удаляем дублирующиеся строки, каждый раз оставляя последнее из дублирующихся наблюдений

In [ ]:
data.drop_duplicates(keep='last')

добавляем столбец:

In [ ]:
data

In [ ]:
data['c'] = range(7)
data.duplicated()

In [ ]:
data

но если мы укажем, что нужно удалить дублирующиеся строки с учетом значений в столбцах a и b, результаты будут выглядеть так

In [ ]:
data.drop_duplicates(['a', 'b'])

### Замена значений

#### метод .map()

создаем два объекта Series для иллюстрации процесса сопоставления значений

In [ ]:
x = pd.Series({"one": 1, "two": 2, "three": 3})
y = pd.Series({1: "a", 2: "b", 3: "c"})
x

In [ ]:
y

сопоставляем значения серии x значениям серии y

In [ ]:
x.map(y)

если между значением серии y и индексной меткой серии x не будет найдено соответствие, будет выдано значение NaN

In [ ]:
x = pd.Series({"one": 1, "two": 2, "three": 3})
y = pd.Series({1: "a", 2: "b"})

In [ ]:
x

In [ ]:
y

In [ ]:
x.map(y)

#### метод .replace()

для примера

In [ ]:
s = pd.Series([0., 1., 2., 3., 2., 4.])
s

замена 2 на 5

In [ ]:
s.replace(2, 5)

заменяем все элементы новыми значениями

In [ ]:
s.replace([0, 1, 2, 3, 4], [4, 3, 2, 1, 0])

In [ ]:
s

заменяем элементы, используя в качестве аргумента словарь

In [ ]:
s.replace({0: 10, 2: 100})

создаем датафрейм с двумя столбцами

In [ ]:
df = pd.DataFrame({'a': [0, 1, 2, 3, 4], 'b': [5, 6, 7, 8, 9]})
df

задаем разные заменяемые значения для каждого столбца

In [ ]:
df.replace({'a': 1, 'b': 8}, {'a': 777, 'b': 888})

### Применение функций

#### к стокам / столбцам

иллюстрируем применение функции к каждому элементу объекта Series

In [ ]:
s = pd.Series(np.arange(0, 5))
s

In [ ]:
s.apply(lambda v: v * 3)

создаем датафрейм, чтобы проиллюстрировать применение операции суммирования к каждому столбцу

In [ ]:
df = pd.DataFrame(np.arange(12).reshape(4, 3), 
                  columns=['a', 'b', 'c'])
df

вычисляем сумму элементов в каждом столбце

In [ ]:
df.apply(lambda col: col.sum())

вычисляем сумму элементов в каждой строке

In [ ]:
df.apply(lambda row: row.sum(), axis=1)

создаем столбец 'interim' путем умножения столбцов a и b

In [ ]:
df

In [ ]:
df['interim'] = df.apply(lambda r: r.a * r.b, axis=1)
df

а теперь получаем столбец 'result' путем сложения столбцов 'interim' и 'c'

In [ ]:
df['result'] = df.apply(lambda r: r.interim + r.c, axis=1)
df

#### к значениям

используем метод .applymap() для всех значений датафрейма, чтобы изменить формат всех элементов объекта DataFrame

In [ ]:
df

In [ ]:
df.applymap(lambda x: np.exp(x)/10)